/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f9f9f9;
    color: #333;
}

header {
    background: #111;
    color: white;
    padding: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


.bienvenida {
    padding: 30px 20px;
    background: #e0f7fa;
}

.bienvenida form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

.bienvenida form input[type=submit] {
    background: #0077b6;
    color: white;
    border: none;
    cursor: pointer;
}

.bienvenida form input[type=submit]:hover {
    background: #00bfff;
}

.productos {
    padding: 30px 20px;
}

.card {
    display: inline-block;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.card img {
    width: 120px;
    height: auto;
}


.oferta {
    background: #0077b6;
    color: white;
    padding: 20px;
}

.boton {
    display: inline-block;
    padding: 8px 15px;
    background: white;
    color: #0077b6;
    text-decoration: none;
    border-radius: 15px;
}


footer {
    background: #111;
    color: white;
    padding: 15px;
    font-size: 0.9em;
}
